In [56]:
import tmdbsimple as tmdb
import requests
import json
import pandas as pd
import numpy as np
pd.set_option('max_columns', 100)

# Getting the data from the API

Get TV on air

In [2]:
# Start with an empty list
total_results = []


# Loop through from pages 1 to 24
for page_num in range(1, 25):
    # Build the URL and download the results
    url = "https://api.themoviedb.org/3/tv/on_the_air?api_key=021e610e76806462bccde348f1756293&page="+ str(page_num)
    response = requests.get(url)
    data = response.json()
    total_results = total_results + data['results']

    
print("We have", len(total_results), "total results")

We have 478 total results

In [3]:
# loading the data to a dataframe

TVshows = pd.DataFrame(total_results)
TVshows.head()

,original_name,genre_ids,name,popularity,origin_country,vote_count,first_air_date,backdrop_path,original_language,id,vote_average,overview,poster_path
0,Westworld,"[878, 37]",Westworld,258.693,[US],2196,2016-10-02,/yGNnjoIGOdQy3douq60tULY8teK.jpg,en,63247,8.1,A dark odyssey about the dawn of artificial co...,/y55oBgf6bVMI7sFNXwJDrSIxPQt.jpg
1,The Walking Dead,"[18, 10759, 10765]",The Walking Dead,168.352,[US],4815,2010-10-31,/wXXaPMgrv96NkH8KD1TMdS2d7iq.jpg,en,1402,7.4,Sheriff's deputy Rick Grimes awakens from a co...,/5l10EjdgPxu8Gbl5Ww6SWkVQH6T.jpg
2,Star Wars: The Clone Wars,"[16, 10759, 10765]",Star Wars: The Clone Wars,153.975,"[SG, US]",327,2008-10-03,/bcyK0lXgHxLIfuCfgbEJHKzKBHm.jpg,en,4194,7.9,"Yoda, Obi-Wan Kenobi, Anakin Skywalker, Mace W...",/p6s2svEHHLsQ1TOw4Si54c1dD5L.jpg
3,Supernatural,"[18, 9648, 10765]",Supernatural,121.033,[US],2387,2005-09-13,/o9OKe3M06QMLOzTl3l6GStYtnE9.jpg,en,1622,7.6,"When they were boys, Sam and Dean Winchester l...",/KoYWXbnYuS3b0GyQPkbuexlVK9.jpg
4,Grey's Anatomy,[18],Grey's Anatomy,104.013,[US],1395,2005-03-27,/edmk8xjGBsYVIf4QtLY9WMaMcXZ.jpg,en,1416,6.8,Follows the personal and professional lives of...,/jnsvc7gCKocXnrTXF6p03cICTWb.jpg

In [19]:
# checking the shape of the dataframe

TVshows.shape

(478, 13)

In [20]:
# checking the number of unique values in the id column

TVshows['id'].nunique()

478

In [21]:
# checking the type of the dataframe

type(TVshows)

pandas.core.frame.DataFrame

In [22]:
# printing the columns of the dataframe

TVshows.columns

Index(['original_name', 'genre_ids', 'name', 'popularity', 'origin_country',
       'vote_count', 'first_air_date', 'backdrop_path', 'original_language',
       'id', 'vote_average', 'overview', 'poster_path'],
      dtype='object')

In [23]:
# checking information about the dataframe

TVshows.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 478 entries, 0 to 477
Data columns (total 13 columns):
original_name        478 non-null object
genre_ids            478 non-null object
name                 478 non-null object
popularity           478 non-null float64
origin_country       478 non-null object
vote_count           478 non-null int64
first_air_date       478 non-null object
backdrop_path        397 non-null object
original_language    478 non-null object
id                   478 non-null int64
vote_average         478 non-null float64
overview             478 non-null object
poster_path          426 non-null object
dtypes: float64(2), int64(2), object(9)
memory usage: 48.7+ KB

In [24]:
# checking missing values

null_cols = TVshows.isnull().sum()
null_cols[null_cols > 0]

backdrop_path    81
poster_path      52
dtype: int64

Get TV shows genres

In [25]:
# getting the tv shows genres

url = 'https://api.themoviedb.org/3/genre/tv/list?api_key=021e610e76806462bccde348f1756293'

response = requests.get(url)
data = response.json()
genres_tvshows = pd.DataFrame(data)


def flatten(genres_tvshows, col_list):
    for column in col_list:
        flattened = pd.DataFrame(dict(genres_tvshows[column])).transpose()
        columns = [str(col) for col in flattened.columns]
        flattened.columns = [column + '_' + colname for colname in columns]
        genres_tvshows = pd.concat([genres_tvshows, flattened], axis=1)
        genres_tvshows = genres_tvshows.drop(column, axis=1)
    return genres_tvshows

nested_columns = ['genres']

genres_tvshows_flat = flatten(genres_tvshows, nested_columns)
genres_tvshows_flat

   genres_id         genres_name
0      10759  Action & Adventure
1         16           Animation
2         35              Comedy
3         80               Crime
4         99         Documentary
5         18               Drama
6      10751              Family
7      10762                Kids
8       9648             Mystery
9      10763                News
10     10764             Reality
11     10765    Sci-Fi & Fantasy
12     10766                Soap
13     10767                Talk
14     10768      War & Politics
15        37             Western

# Final database

In [41]:
# define column names for our new dataframe
columns = ['Title', 'ID', 'Country origin', 'Language', 'Release Date', 'Genre', 'Popularity', 'Vote average', 'Vote count']

# create dataframe 
TVshows_final = pd.DataFrame(columns=columns)

# making a request for the API
for tvshow in total_results:
    tv_data = requests.get('https://api.themoviedb.org/3/tv/'+ str(tvshow['id']) +'?api_key='+ '021e610e76806462bccde348f1756293')
    tv_data = tv_data.json()
    TVshows_final.loc[len(TVshows_final)]=[tvshow['name'], tvshow['id'], tvshow['origin_country'], tvshow['original_language'], tvshow['first_air_date'], tv_data['genres'], tvshow['popularity'], tvshow['vote_average'], tvshow['vote_count']]

In [42]:
TVshows_final

,Title,ID,Country origin,Language,Release Date,Genre,Popularity,Vote average,Vote count
0,Westworld,63247,[US],en,2016-10-02,"[{'id': 37, 'name': 'Western'}, {'id': 878, 'n...",258.693,8.1,2196
1,The Walking Dead,1402,[US],en,2010-10-31,"[{'id': 10759, 'name': 'Action & Adventure'}, ...",168.352,7.4,4815
2,Star Wars: The Clone Wars,4194,"[SG, US]",en,2008-10-03,"[{'id': 10759, 'name': 'Action & Adventure'}, ...",153.975,7.9,327
3,Supernatural,1622,[US],en,2005-09-13,"[{'id': 18, 'name': 'Drama'}, {'id': 9648, 'na...",121.033,7.6,2387
4,Grey's Anatomy,1416,[US],en,2005-03-27,"[{'id': 18, 'name': 'Drama'}]",104.013,6.8,1395
...,...,...,...,...,...,...,...,...,...
473,"Mira, Royal Detective",100975,[],en,2020-03-20,[],0.000,0.0,0
474,Cosmos: Possible Worlds,100972,[US],en,2020-03-09,"[{'id': 99, 'name': 'Documentary'}]",0.000,0.0,0
475,Jamie: Keep Cooking and Carry On,100969,[GB],en,2020-03-23,[],0.000,0.0,0
476,devilish charm,100954,[],en,2020-03-25,[],0.000,0.0,0
477,Somehow Family,100943,[],ko,,[],0.000,0.0,0

In [47]:
for i, row in genres_tvshows_flat.iterrows():
    print(i, row['genres_id'], row['genres_name'])

    TVshows_final[row['genres_name']] = 0

0 10759 Action & Adventure
1 16 Animation
2 35 Comedy
3 80 Crime
4 99 Documentary
5 18 Drama
6 10751 Family
7 10762 Kids
8 9648 Mystery
9 10763 News
10 10764 Reality
11 10765 Sci-Fi & Fantasy
12 10766 Soap
13 10767 Talk
14 10768 War & Politics
15 37 Western

In [48]:
TVshows_final

,Title,ID,Country origin,Language,Release Date,Genre,Popularity,Vote average,Vote count,Action & Adventure,...,Family,Kids,Mystery,News,Reality,Sci-Fi & Fantasy,Soap,Talk,War & Politics,Western
0,Westworld,63247,[US],en,2016-10-02,"[{'id': 37, 'name': 'Western'}, {'id': 878, 'n...",258.693,8.1,2196,0,...,0,0,0,0,0,0,0,0,0,0
1,The Walking Dead,1402,[US],en,2010-10-31,"[{'id': 10759, 'name': 'Action & Adventure'}, ...",168.352,7.4,4815,0,...,0,0,0,0,0,0,0,0,0,0
2,Star Wars: The Clone Wars,4194,"[SG, US]",en,2008-10-03,"[{'id': 10759, 'name': 'Action & Adventure'}, ...",153.975,7.9,327,0,...,0,0,0,0,0,0,0,0,0,0
3,Supernatural,1622,[US],en,2005-09-13,"[{'id': 18, 'name': 'Drama'}, {'id': 9648, 'na...",121.033,7.6,2387,0,...,0,0,0,0,0,0,0,0,0,0
4,Grey's Anatomy,1416,[US],en,2005-03-27,"[{'id': 18, 'name': 'Drama'}]",104.013,6.8,1395,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
473,"Mira, Royal Detective",100975,[],en,2020-03-20,[],0.000,0.0,0,0,...,0,0,0,0,0,0,0,0,0,0
474,Cosmos: Possible Worlds,100972,[US],en,2020-03-09,"[{'id': 99, 'name': 'Documentary'}]",0.000,0.0,0,0,...,0,0,0,0,0,0,0,0,0,0
475,Jamie: Keep Cooking and Carry On,100969,[GB],en,2020-03-23,[],0.000,0.0,0,0,...,0,0,0,0,0,0,0,0,0,0
476,devilish charm,100954,[],en,2020-03-25,[],0.000,0.0,0,0,...,0,0,0,0,0,0,0,0,0,0
477,Somehow Family,100943,[],ko,,[],0.000,0.0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [76]:
for i, rowg in genres_tvshows_flat.iterrows():
    for j, rowtv in TVshows_final.iterrows():
        for x in rowtv['Genre']:
            print(x['id'], rowg['genres_id'], rowtv[rowg['genres_name']],rowg['genres_name'] )
            if x['id'] == rowg['genres_id']:
                #rowtv[rowg['genres_name']].apply(1)
                TVshows_final[j][rowg['genres_name']] = 1
                print("são iguais", rowtv['Title'], TVshows_final[j][rowg['genres_name']])

37 10759 0 Action & Adventure
878 10759 0 Action & Adventure
10759 10759 1 Action & Adventure

KeyError: 1

In [61]:
TVshows_final

,Title,ID,Country origin,Language,Release Date,Genre,Popularity,Vote average,Vote count,Action & Adventure,Animation,Comedy,Crime,Documentary,Drama,Family,Kids,Mystery,News,Reality,Sci-Fi & Fantasy,Soap,Talk,War & Politics,Western
0,Westworld,63247,[US],en,2016-10-02,"[{'id': 37, 'name': 'Western'}, {'id': 878, 'n...",258.693,8.1,2196,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,The Walking Dead,1402,[US],en,2010-10-31,"[{'id': 10759, 'name': 'Action & Adventure'}, ...",168.352,7.4,4815,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,Star Wars: The Clone Wars,4194,"[SG, US]",en,2008-10-03,"[{'id': 10759, 'name': 'Action & Adventure'}, ...",153.975,7.9,327,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,Supernatural,1622,[US],en,2005-09-13,"[{'id': 18, 'name': 'Drama'}, {'id': 9648, 'na...",121.033,7.6,2387,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,Grey's Anatomy,1416,[US],en,2005-03-27,"[{'id': 18, 'name': 'Drama'}]",104.013,6.8,1395,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
473,"Mira, Royal Detective",100975,[],en,2020-03-20,[],0.000,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
474,Cosmos: Possible Worlds,100972,[US],en,2020-03-09,"[{'id': 99, 'name': 'Documentary'}]",0.000,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
475,Jamie: Keep Cooking and Carry On,100969,[GB],en,2020-03-23,[],0.000,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
476,devilish charm,100954,[],en,2020-03-25,[],0.000,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
477,Somehow Family,100943,[],ko,,[],0.000,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

Get external IDs

In [ ]:
# define column names for our new dataframe
columns = ['Title', 'ID', 'Imdb_ID', 'Twitter_ID']

# create dataframe 
tv_ids = pd.DataFrame(columns=columns)

# making a request for the API
for tvshow in total_results:
    tvid_data = requests.get('https://api.themoviedb.org/3/tv/'+ str(tvshow['id']) +'/external_ids?api_key=021e610e76806462bccde348f1756293')
    tvid_data = tvid_data.json()
    tv_ids.loc[len(tv_ids)]=[tvshow['name'], tvid_data['id'], tvid_data['imdb_id'], tvid_data['twitter_id']]

In [28]:
tv_ids

                         Title      ID     Imdb_ID       Twitter_ID
0                    Westworld   63247   tt0475784     WestworldHBO
1             The Walking Dead    1402   tt1520211  WalkingDead_AMC
2    Star Wars: The Clone Wars    4194   tt0458290             None
3                 Supernatural    1622   tt0460681           cw_spn
4               Grey's Anatomy    1416   tt0413573         greysabc
..                         ...     ...         ...              ...
465             devilish charm  100954        None             None
466             Somehow Family  100943        None             None
467                     Hitmen  100916   tt9041792             None
468   Проект «Анна Николаевна»  100913  tt11867066             None
469          Wischen ist Macht  100912  tt11696298             None

[470 rows x 4 columns]

In [40]:
tv_ids.shape

(470, 4)

Get keywords

In [29]:
# define column names for our new dataframe
columns = ['Title', 'ID', 'Keywords']

# create dataframe 
tv_keywords = pd.DataFrame(columns=columns)

# making a request for the API
for tvshow in total_results:
    tv_keywords_data = requests.get('https://api.themoviedb.org/3/tv/'+ str(tvshow['id']) +'/keywords?api_key=021e610e76806462bccde348f1756293')
    tv_keywords_data = tv_keywords_data.json()
    tv_keywords.loc[len(tv_keywords)]=[tvshow['name'], tvshow['id'], tv_keywords_data['results']]

In [30]:
tv_keywords

,Title,ID,Keywords
0,Westworld,63247,"[{'name': 'android', 'id': 803}, {'name': 'art..."
1,The Walking Dead,1402,"[{'name': 'post-apocalyptic', 'id': 4458}, {'n..."
2,Star Wars: The Clone Wars,4194,"[{'name': 'space opera', 'id': 161176}]"
3,Supernatural,1622,"[{'name': 'monster', 'id': 1299}, {'name': 'an..."
4,Grey's Anatomy,1416,"[{'name': 'seattle', 'id': 2350}, {'name': 'tr..."
...,...,...,...
465,devilish charm,100954,[]
466,Somehow Family,100943,[]
467,Hitmen,100916,[]
468,Проект «Анна Николаевна»,100913,"[{'name': 'android', 'id': 803}, {'name': 'hum..."
469,Wischen ist Macht,100912,[]

In [39]:
tv_keywords.shape

(0, 3)

In [41]:
# exporting to a csv file
TVshows.to_csv('tvshows.csv', index=False)