In [1]:
import tmdbsimple as tmdb
import requests
import json
import pandas as pd
import numpy as np

In [2]:
tmdb.API_KEY = '021e610e76806462bccde348f1756293'

# Genres movies

In [104]:
url = 'https://api.themoviedb.org/3/genre/movie/list?api_key=021e610e76806462bccde348f1756293&language=en-US'

response = requests.get(url)
data = response.json()
genres_movies = pd.DataFrame(data)


def flatten(genres_movies, col_list):
    for column in col_list:
        flattened = pd.DataFrame(dict(genres_movies[column])).transpose()
        columns = [str(col) for col in flattened.columns]
        flattened.columns = [column + '_' + colname for colname in columns]
        genres_movies = pd.concat([genres_movies, flattened], axis=1)
        genres_movies = genres_movies.drop(column, axis=1)
    return genres_movies

nested_columns = ['genres']

genres_movies_flat = flatten(genres_movies, nested_columns)
genres_movies_flat

   genres_id      genres_name
0         28           Action
1         12        Adventure
2         16        Animation
3         35           Comedy
4         80            Crime
5         99      Documentary
6         18            Drama
7      10751           Family
8         14          Fantasy
9         36          History
10        27           Horror
11     10402            Music
12      9648          Mystery
13     10749          Romance
14       878  Science Fiction
15     10770         TV Movie
16        53         Thriller
17     10752              War
18        37          Western

# Movies 2019

In [172]:
# Start with an empty list
total_results = []

# Loop through from pages 1 to 500
for page_num in range(1, 501):
    # Build the URL and download the results
    url = "https://api.themoviedb.org/3/discover/movie?api_key=021e610e76806462bccde348f1756293&primary_release_year=2019"
    response = requests.get(url)
    data = response.json()
    total_results = total_results + data['results']


print("We have", len(total_results), "total results")

We have 10000 total results

In [175]:
# loading the data to a dataframe

movies2019 = pd.DataFrame(total_results)
movies2019.head()

,popularity,vote_count,video,poster_path,id,adult,backdrop_path,original_language,original_title,genre_ids,title,vote_average,overview,release_date
0,605.149,2649,False,/xBHvZcjRiWyobQ9kxBhO6B2dtRI.jpg,419704,False,/5BwqwxMEjeFtdknRV792Svo0K1v.jpg,en,Ad Astra,"[12, 18, 9648, 878, 53]",Ad Astra,5.9,"The near future, a time when both hope and har...",2019-09-17
1,295.608,3460,False,/db32LaOibwEliAmSL2jjDF6oDdj.jpg,181812,False,/jOzrELAzFxtMx2I4uDGHOotdfsS.jpg,en,Star Wars: The Rise of Skywalker,"[28, 12, 878]",Star Wars: The Rise of Skywalker,6.5,The surviving Resistance faces the First Order...,2019-12-18
2,211.317,2539,False,/bB42KDdfWkOvmzmYkmK58ZlCa9P.jpg,512200,False,/hreiLoPysWG79TsyQgMzFKaOTF5.jpg,en,Jumanji: The Next Level,"[28, 12, 35, 14]",Jumanji: The Next Level,6.8,As the gang return to Jumanji to rescue one of...,2019-12-04
3,160.759,3143,False,/pjeMs3yqRmFL3giJy4PMXWZTTPa.jpg,330457,False,/xJWPZIYOEFIjZpBL7SVBGnzRYXp.jpg,en,Frozen II,"[12, 16, 10751]",Frozen II,7.1,"Elsa, Anna, Kristoff and Olaf head far into th...",2019-11-20
4,148.679,4,False,/hjOX3eTRR37WdsTMXOcD0gF9BA7.jpg,614375,False,None,tl,F#*@BOIS,[18],F#*@BOIS,9.6,"Ace, 23, and Miko, 17, desperately want to bec...",2019-08-02

In [195]:
# printing the shape of the dataframe

movies2019.shape

(10000, 14)

In [196]:
# checking for the columns of the dataframe

movies2019.columns

Index(['popularity', 'vote_count', 'video', 'poster_path', 'id', 'adult',
       'backdrop_path', 'original_language', 'original_title', 'genre_ids',
       'title', 'vote_average', 'overview', 'release_date'],
      dtype='object')

# Final database

In [219]:
# define column names for our new dataframe
columns = ['Title', 'Movie_ID', 'Imdb_ID', 'Language', 'Release Date', 'Genre', 'Popularity', 'Vote average', 'Vote count','Revenue USD', 'Budget USD']

# create dataframe 
movies_df = pd.DataFrame(columns=columns)

# making a request for the API
for movie in total_results:
    movie_data = requests.get('https://api.themoviedb.org/3/movie/'+ str(movie['id']) +'?api_key='+ '021e610e76806462bccde348f1756293')
    movie_data = movie_data.json()
    movies_df.loc[len(movies_df)]=[movie['title'], movie_data['id'], movie_data['imdb_id'], movie_data['original_language'], movie_data['release_date'], movie_data['genres'], movie_data['popularity'], movie_data['vote_average'], movie_data['vote_count'], movie_data['revenue'], movie_data['budget']]

In [220]:
movies_df

,Title,Movie_ID,Imdb_ID,Language,Release Date,Genre,Popularity,Vote average,Vote count,Revenue USD,Budget USD
0,Ad Astra,419704,tt2935510,en,2019-09-17,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",605.149,5.9,2652,127175922,87500000
1,Star Wars: The Rise of Skywalker,181812,tt2527338,en,2019-12-18,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",295.608,6.5,3466,1073604458,250000000
2,Jumanji: The Next Level,512200,tt7975244,en,2019-12-04,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",211.317,6.8,2548,310830000,125000000
3,Frozen II,330457,tt4520988,en,2019-11-20,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",160.759,7.1,3166,1330764959,33000000
4,F#*@BOIS,614375,None,tl,2019-08-02,"[{'id': 18, 'name': 'Drama'}]",148.679,9.3,5,0,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,Just Mercy,522212,tt4916630,en,2019-12-25,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",77.705,8.2,289,50301159,25000000
9996,Ip Man 4: The Finale,449924,tt2076298,cn,2019-12-20,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",71.284,6.0,378,0,52000000
9997,Aladdin,420817,tt6139732,en,2019-05-22,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",66.336,7.0,5120,1047612394,183000000
9998,Spider-Man: Far from Home,429617,tt6320628,en,2019-06-28,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",65.108,7.5,6412,1131927996,160000000
9999,Spies in Disguise,431693,tt5814534,en,2019-12-24,"[{'id': 16, 'name': 'Animation'}, {'id': 28, '...",64.414,7.3,442,0,111000000

# Simulações

In [17]:
# Start with an empty list
total_results = []


# Loop through from pages 1 to 500
for page_num in range(1, 501):
    # Build the URL and download the results
    url = "https://api.themoviedb.org/3/discover/movie?api_key=021e610e76806462bccde348f1756293&sort_by=popularity.desc&page="+ str(page_num)+"&primary_release_year=2019"
    response = requests.get(url)
    data = response.json()
    total_results = total_results + data['results']

    
print("We have", len(total_results), "total results")

We have 4145 total results

In [23]:
movies2020 = pd.DataFrame(total_results)
movies2020

,popularity,vote_count,video,poster_path,id,adult,backdrop_path,original_language,original_title,genre_ids,title,vote_average,overview,release_date
0,363.548,270,False,/8WUVHemHFH2ZIP6NWkwlHWsyrEL.jpg,338762,False,/ocUrMYbdjknu2TwzMHKT9PBBQRw.jpg,en,Bloodshot,"[28, 878]",Bloodshot,6.4,"After he and his wife are murdered, marine Ray...",2020-02-20
1,317.402,697,False,/4U7hpTK0XTQBKT5X60bKmJd05ha.jpg,570670,False,/uZMZyvarQuXLRqf3xdpdMqzdtjb.jpg,en,The Invisible Man,"[27, 878, 53]",The Invisible Man,7.1,When Cecilia's abusive ex takes his own life a...,2020-02-26
2,346.671,1764,False,/h4VB6m0RwcicVEZvzftYZyKXs6K.jpg,495764,False,/pbOOOT0ASXjP4aJZr5NyOjK9qix.jpg,en,Birds of Prey (and the Fantabulous Emancipatio...,"[28, 35, 80]",Birds of Prey (and the Fantabulous Emancipatio...,7.0,"After her breakup with the Joker, Harley Quinn...",2020-02-05
3,216.110,1472,False,/aQvJ5WPzZgYVDrxLX4R6cLJCEaQ.jpg,454626,False,/stmYfCUGd8Iy6kAMBr6AmWqx8Bq.jpg,en,Sonic the Hedgehog,"[28, 35, 878, 10751]",Sonic the Hedgehog,7.3,Based on the global blockbuster videogame fran...,2020-02-12
4,233.551,327,False,/3VqDLgKLfNYSQYEGC5sjGhcPhn7.jpg,508439,False,/xFxk4vnirOtUxpOEWgA1MCRfy6J.jpg,en,Onward,"[12, 16, 35, 14, 10751]",Onward,7.9,"In a suburban fantasy world, two teenage elf b...",2020-02-29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4140,1.400,0,False,None,685924,False,None,en,Tetlalli: the place of stones,[10402],Tetlalli: the place of stones,0.0,"Through mist and stones, a setar player will e...",2020-03-25
4141,1.400,0,False,None,685923,False,None,en,A New Kind of Universe,[10402],A New Kind of Universe,0.0,"Painted 16mm film, video feedback, and archiva...",2020-03-25
4142,1.400,0,False,None,685922,False,None,en,Over/Under,[10402],Over/Under,0.0,A young woman's surreal escape transforms into...,2020-03-25
4143,1.400,0,False,None,685921,False,None,en,Garnet Graves,[10402],Garnet Graves,0.0,"The twisting, neon discomfort of body parts pu...",2020-03-25
4144,1.400,0,False,/nXhfCtbikhSxP62UcdtvorPYOhi.jpg,685920,False,None,xx,Sangha,[],Sangha,0.0,"At a temple at the far ends of the earth, a co...",2020-03-24

In [19]:
movies2020.shape

(4145, 14)

In [20]:
movies2020['id'].nunique()

4145

In [7]:
# exporting to a csv file
movies2019.to_csv('movies2019.csv', index=False)

In [21]:
# exporting to a csv file
movies2020.to_csv('movies2020.csv', index=False)

In [12]:
url = "https://api.themoviedb.org/3/discover/movie?api_key=021e610e76806462bccde348f1756293&sort_by=popularity.desc&page="+ str(page_num)+"&primary_release_year=2020"
response = requests.get(url)


# define column names for our new dataframe
columns = ['Title', 'Movie_ID', 'Imdb_ID', 'Language', 'Release Date', 'Genre', 'Popularity', 'Vote average', 'Vote count','Revenue USD', 'Budget USD']

# create dataframe 
movies_df = pd.DataFrame(columns=columns)

# making a request for the API
for movie in total_results:
    movie_data = requests.get('https://api.themoviedb.org/3/movie/'+ str(movie['id']) +'?api_key='+ '021e610e76806462bccde348f1756293')
    movie_data = movie_data.json()
    movies_df.loc[len(movies_df)]=[movie['title'], movie['id'], movie_data['imdb_id'], movie_data['original_language'], movie_data['release_date'], movie_data['genres'], movie_data['popularity'], movie_data['vote_average'], movie_data['vote_count'], movie_data['revenue'], movie_data['budget']]

KeyError: 'imdb_id'